{% extends "base.html" %} {% block title %}About Page{% endblock %} {% block
content %}
<section id="about" class="container mx-auto p-2 bg-white shadow-md rounded-lg">
	<div class="card-container flex flex-wrap justify-center p-6">
		<div class="card-item pt-4">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img
							class="rounded-full h-40 w-40 mx-auto mb-20"
							src="{{ url_for('static', filename='images/aaditya.png') }}"
							alt="Aaditya Joshi"
						/>
						<p class="title mb-10">Aaditya Joshi</p>
					</div>
					<div class="flip-card-back">
						<p class="title">BACK</p>
						<p>Leave Me</p>
					</div>
				</div>
			</div>
		</div>
		<div class="card-item mx-24 pt-4">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img
							class="rounded-full h-40 w-40 mx-auto mb-20"
							src="{{ url_for('static', filename='images/abhijeet.png') }}"
							alt="Abhijeet KC"
						/>
						<p class="title mb-10">Abhijeet KC</p>
					</div>
					<div class="flip-card-back">
						<p class="title">BACK</p>
						<p>Leave Me</p>
					</div>
				</div>
			</div>
		</div>
		<div class="card-item pt-4">
			<div class="flip-card">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img
							class="rounded-full h-40 w-40 mx-auto mb-20"
							src="{{ url_for('static', filename='images/ankit.png') }}"
							alt="Ankit Neupane"
						/>
						<p class="title mb-10">Ankit Neupane</p>
					</div>
					<div class="flip-card-back">
						<p class="title">BACK</p>
						<p>Leave Me</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/about.js') }}"></script>
{% endblock %} {% block styles %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/about.css') }}"
/>
{% endblock %}
