{% extends "base.html" %}
{% block title %} Visualizer {% endblock %}
{% block styles %}
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/visualizer.css') }}"
/>
{% endblock %}

{% block content %}
<div class="container">
<!-- Search Actor -->
	<section class="bg-gray-900 shadow-lg rounded-lg p-6 mb-6">
		<h3 class="text-xl font-semibold text-gray-600 text-center mb-3">Search Actor</h3>
		<form method="GET" action="{{ url_for('views.fetch_actor_stats') }}">
			<div class="flex-col items-center gap-4">
				<div class="relative w-full">
					<input
						type="text"
						id="searchActor"
						name="actor"
						placeholder="Enter actor name..."
						class="text-black border border-gray-300 rounded-lg px-4 py-2 w-full focus:ring focus:ring-blue-300"
						style="opacity:0.7;" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0.7;"
						oninput="fetchActorSuggestions()"
					/>
					<ul id="actorSuggestions" class="absolute left-0 mt-1 w-full bg-gray-900 text-white border border-gray-700 rounded-md hidden z-10"></ul>
					<button type="submit"
					 class="mt-4 justify-center bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">
						Search
					</button>
					{% if actor_stats %}

					{% if actor_image %}
					<div class="flex justify-center">
					<img src="{{actor_image}}" alt="{{actor_stats.actor}}" 
					class="mt-4 rounded-lg h-50"
					 >
					 </div>

					{% endif %}
					<div class="flex justify-center">
						<p class="mt-4 text-white text-xl text-bold">{{ actor_stats.actor }}</p>
					</div>
						<div class="space-y-4 mt-4">
							<!-- Total Movies -->
							<div class="bg-gray-800 p-4 rounded-lg">
								<h4 class="text-lg font-semibold text-white">Total Movies</h4>
								<p class="text-xl text-gray-400">{{ actor_stats.total_movies }}</p>
							</div>
	
							<!-- Hits, Super Hits, and Flops -->
							<div class="flex gap-4">
								<div class="bg-gray-800 p-4 rounded-lg flex-1">
									<h4 class="text-lg font-semibold text-white">Hits</h4>
									<p class="text-xl text-green-500">{{ actor_stats.hits }}</p>
								</div>
								<div class="bg-gray-800 p-4 rounded-lg flex-1">
									<h4 class="text-lg font-semibold text-white">Super Hits</h4>
									<p class="text-xl text-yellow-500">{{ actor_stats.super_hits }}</p>
								</div>
								<div class="bg-gray-800 p-4 rounded-lg flex-1">
									<h4 class="text-lg font-semibold text-white">Flops</h4>
									<p class="text-xl text-red-500">{{ actor_stats.flops }}</p>
								</div>
							</div>
	
							<!-- Most Frequent Genre -->
							<div class="bg-gray-800 p-4 rounded-lg">
								<h4 class="text-lg font-semibold text-white">Most Frequent Genre</h4>
								<p class="text-xl text-blue-400">{{ actor_stats.most_frequent_genre.genre }}</p>
								<p class="text-sm text-gray-500">Appeared in {{ actor_stats.most_frequent_genre.count }} movies</p>
							</div>
	
							<!-- Average Rating -->
							<div class="bg-gray-800 p-4 rounded-lg">
								<h4 class="text-lg font-semibold text-white">Average Rating</h4>
								<p class="text-xl text-purple-400">{{ actor_stats.avg_rating | round(2) }}</p>
							</div>
	
							<!-- Most Frequent Coactor -->
							<div class="bg-gray-800 p-4 rounded-lg">
								<h4 class="text-lg font-semibold text-white">Most Frequent Co-actor</h4>
								<p class="text-xl text-teal-400">{{ actor_stats.most_frequent_coactor.actor }}</p>
								<p class="text-sm text-gray-500">Appeared in {{ actor_stats.most_frequent_coactor.count }} movies together</p>
							</div>
	
							<!-- Most Frequent Production Company -->
							<div class="bg-gray-800 p-4 rounded-lg">
								<h4 class="text-lg font-semibold text-white">Most Frequent Production Company</h4>
								<p class="text-xl text-teal-400">{{ actor_stats.most_frequent_production_company.company }}</p>
								<p class="text-sm text-gray-500">Worked with them on {{ actor_stats.most_frequent_production_company.count }} movies</p>
							</div>
	
							<!-- Most Frequent Director -->
							<div class="bg-gray-800 p-4 rounded-lg">
								<h4 class="text-lg font-semibold text-white">Most Frequent Director</h4>
								<p class="text-xl text-orange-400">{{ actor_stats.most_frequent_director.director }}</p>
								<p class="text-sm text-gray-500">Directed them in {{ actor_stats.most_frequent_director.count }} movies</p>
							</div>
	
							<!-- Best and Worst Movie -->
							<div class="flex gap-4">
								<div class="bg-gray-800 p-4 rounded-lg flex-1">
									<h4 class="text-lg font-semibold text-white">Best Rated Movie</h4>
									<p class="text-xl text-green-500">{{ actor_stats.best_movie.title }} ({{ actor_stats.best_movie.rating }})</p>
								</div>
								<div class="bg-gray-800 p-4 rounded-lg flex-1">
									<h4 class="text-lg font-semibold text-white">Worst Rated Movie</h4>
									<p class="text-xl text-red-500">{{ actor_stats.worst_movie.title }} ({{ actor_stats.worst_movie.rating }})</p>
								</div>
							</div>
						</div>
						{% else %}
						<p class="mt-4 text-gray-400 text-center">No actor statistics available</p>
					{% endif %}
				</div>
				
			</div>
		</form>
	</section>

	<!-- Search Director -->
	<section class="bg-gray-900 shadow-lg rounded-lg p-6 mb-6">
		<h3 class="text-xl font-semibold text-gray-600 text-center mb-3">Search Director</h3>
		<form method="GET" action="{{ url_for('views.fetch_director_stats') }}">
			<div class="flex items-center gap-4">
				<div class="relative w-full">
					<input
						type="text"
						id="searchDirector"
						name="director"
						placeholder="Enter director name..."
						class="text-black border border-gray-300 rounded-lg px-4 py-2 w-full focus:ring focus:ring-blue-300"
						style="opacity:0.7;" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0.7;"
						oninput="fetchDirectorSuggestions()"
					/>

					<ul id="directorSuggestions"
						class="absolute left-0 mt-1 w-full bg-gray-900 text-white border border-gray-700 rounded-md hidden z-10">
					</ul>

					<button type="submit" 
					class="mt-4 bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">
						Search
					</button>

					{% if director_stats %}
					{% if director_image %}
					<div class="flex justify-center">
					<img src="{{director_image}}" alt="{{director_stats.director}}" 
					class="mt-4 rounded-lg h-50"
					 >

					{% endif %}
					</div>

					<div class="flex justify-center">
						<p class="mt-4 text-white text-xl text-bold">{{ director_stats.director }}</p>
					</div>
					<div class="space-y-4 mt-4">
						<!-- Total Movies -->
						<div class="bg-gray-800 p-4 rounded-lg">
							<h4 class="text-lg font-semibold text-white">Total Movies</h4>
							<p class="text-xl text-gray-400">{{ director_stats.total_movies }}</p>
						</div>

						<!-- Hits, Super Hits, and Flops -->
						<div class="flex gap-4">
							<div class="bg-gray-800 p-4 rounded-lg flex-1">
								<h4 class="text-lg font-semibold text-white">Hits</h4>
								<p class="text-xl text-green-500">{{ director_stats.hits }}</p>
							</div>
							<div class="bg-gray-800 p-4 rounded-lg flex-1">
								<h4 class="text-lg font-semibold text-white">Super Hits</h4>
								<p class="text-xl text-yellow-500">{{ director_stats.super_hits }}</p>
							</div>
							<div class="bg-gray-800 p-4 rounded-lg flex-1">
								<h4 class="text-lg font-semibold text-white">Flops</h4>
								<p class="text-xl text-red-500">{{ director_stats.flops }}</p>
							</div>
						</div>

						<!-- Most Frequent Genre -->
						<div class="bg-gray-800 p-4 rounded-lg">
							<h4 class="text-lg font-semibold text-white">Most Frequent Genre</h4>
							<p class="text-xl text-blue-400">{{ director_stats.most_frequent_genre.genre }}</p>
							<p class="text-sm text-gray-500">Appeared in {{ director_stats.most_frequent_genre.count }} movies</p>
						</div>

						<!-- Average Rating -->
						<div class="bg-gray-800 p-4 rounded-lg">
							<h4 class="text-lg font-semibold text-white">Average Rating</h4>
							<p class="text-xl text-purple-400">{{ director_stats.avg_rating | round(2) }}</p>
						</div>

						<!-- Most Frequent Actor -->
						<div class="bg-gray-800 p-4 rounded-lg">
							<h4 class="text-lg font-semibold text-white">Most Frequent Actor</h4>
							<p class="text-xl text-teal-400">{{ director_stats.most_frequent_actor.actor }}</p>
							<p class="text-sm text-gray-500">Appeared in {{ director_stats.most_frequent_actor.count }} movies together</p>
						</div>

						<!-- Best and Worst Movie -->
						<div class="flex gap-4">
							<div class="bg-gray-800 p-4 rounded-lg flex-1">
								<h4 class="text-lg font-semibold text-white">Best Rated Movie</h4>
								<p class="text-xl text-green-500">{{ director_stats.best_movie.title }} ({{ director_stats.best_movie.rating }})</p>
							</div>
							<div class="bg-gray-800 p-4 rounded-lg flex-1">
								<h4 class="text-lg font-semibold text-white">Worst Rated Movie</h4>
								<p class="text-xl text-red-500">{{ director_stats.worst_movie.title }} ({{ director_stats.worst_movie.rating }})</p>
							</div>
						</div>
					</div>
					{% else %}
					<p class="text-gray-400 mt-4 text-center">No director statistics available</p>
					{% endif %}
				</div>
				
			</div>
		</form>
		
	</section>
</div> 

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/visualizer.js') }}"></script>
{% endblock %}	