<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}Movie Search{% endblock %}</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	{% block styles %}{% endblock %}
</head>

<body class="bg-gray-100 font-sans bg-image">
	<!-- Navigation Bar -->
	<header class="bg-gray-800 text-white">
		<div class="container mx-auto flex justify-between items-center p-4">
			<div class="flex items-center space-x-4">
				<a href="{{ url_for('views.home') }}" class="text-lg font-semibold hover:text-gray-400">Home</a>

				{% if session.get('user_id') %}
				<!-- Show Reviewer Dashboard link if logged in as a reviewer -->
				{% if session.get('role') == 'reviewer' %}
				<a href="{{ url_for('reviewer.reviewer_dashboard') }}"
					class="text-lg font-semibold hover:text-gray-400">Dashboard</a>
				{% endif %}

				<!-- Show Admin Dashboard link if logged in as an admin -->
				{% if session.get('role') == 'admin' %}
				<a href="{{ url_for('admin.admin_dashboard') }}"
					class="text-lg font-semibold hover:text-gray-400">Dashboard</a>
				{% endif %}
				{% endif %}
				<a href="{{ url_for('views.about') }}" class="text-lg font-semibold hover:text-gray-400">About</a>
			</div>
			<div>
				{% if session.get('user_id') %}
				<!-- Popup Menu -->
				<label class="popup">
					<input type="checkbox">
					<div class="burger" tabindex="0">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<nav class="popup-window">
						<legend>Actions</legend>
						<ul>
							<li>
								<button>
									<svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2"
										stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
										<circle r="4" cy="7" cx="9"></circle>
										<path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
										<path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
									</svg>
									<span>Collaborators</span>
								</button>
							</li>
							<li>
								<button>
									<svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2"
										stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
										<path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
									</svg>
									<span>Magic Link</span>
								</button>
							</li>
							<hr>
							<li>
								<button>
									<svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2"
										stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14"
										xmlns="http://www.w3.org/2000/svg">
										<rect ry="2" rx="2" height="13" width="13" y="9" x="9"></rect>
										<path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
									</svg>
									<span>Clone</span>
								</button>
							</li>
							<li>
								<button>
									<svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2"
										stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14"
										xmlns="http://www.w3.org/2000/svg">
										<polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
									</svg>
									<span>Edit</span>
								</button>
							</li>
							<hr>
							<li>
								<button>
									<svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2"
										stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14"
										xmlns="http://www.w3.org/2000/svg">
										<line y2="18" x2="6" y1="6" x1="18"></line>
										<line y2="18" x2="18" y1="6" x1="6"></line>
									</svg>
									<span>Delete</span>
								</button>
							</li>
							<li>
								<button>
									<a href="{{ url_for('auth.logout_user') }}"
										class="text-lg font-semibold hover:text-gray-400">Log Out</a>
								</button>
							</li>
						</ul>
					</nav>
				</label>
				{% else %}
				<!-- Show Login and Sign Up links if not logged in -->
				<a href="{{ url_for('auth.login_user') }}"
					class="text-lg font-semibold hover:text-gray-400 px-2">Login</a>
				<a href="{{ url_for('auth.signup_user') }}" class="text-lg font-semibold hover:text-gray-400">Sign
					Up</a>
				{% endif %}
			</div>
		</div>
	</header>

	{% with messages = get_flashed_messages(with_categories=true) %} {% if
	messages %} {% for category, message in messages %} {% if category ==
	'error' %}
	<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
		<span class="block sm:inline">{{ message }}</span>
		<button type="button" class="absolute top-0 bottom-0 right-0 px-4 py-3" onclick="this.parentElement.remove()">
			<svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20">
				<title>Close</title>
				<path
					d="M14.348 14.849a1 1 0 01-1.415 0L10 11.415l-2.933 2.934a1 1 0 01-1.415-1.415l2.934-2.934-2.934-2.933a1 1 0 011.415-1.415L10 8.585l2.933-2.934a1 1 0 011.415 1.415L11.415 10l2.934 2.933a1 1 0 010 1.415z" />
			</svg>
		</button>
	</div>
	{% else %}
	<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4" role="alert">
		<span class="block sm:inline">{{ message }}</span>
		<button type="button" class="absolute top-0 bottom-0 right-0 px-4 py-3" onclick="this.parentElement.remove()">
			<svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20">
				<title>Close</title>
				<path
					d="M14.348 14.849a1 1 0 01-1.415 0L10 11.415l-2.933 2.934a1 1 0 01-1.415-1.415l2.934-2.934-2.934-2.933a1 1 0 011.415-1.415L10 8.585l2.933-2.934a1 1 0 011.415 1.415L11.415 10l2.934 2.933a1 1 0 010 1.415z" />
			</svg>
		</button>
	</div>
	{% endif %} {% endfor %} {% endif %} {% endwith %}

	<!-- Main Content -->
	<div class="flex mx-auto mt-8 p-1">
		{% block content %}
		<main class="container mx-auto mt-8 p-2">
			<h1 class="text-5xl text-white font-bold text-center mr-10 mb-4">Search Movies</h1>
			<div class="flex justify-center mb-4">
				<div class="relative w-full max-w-md flex items-center">
					<!-- Search Bar -->
					<form action="{{ url_for('views.search_movie') }}" method="POST" class="flex-grow relative">
						<input type="text" id="movie" name="movie" placeholder="Search for a movie..."
							class="w-full border border-gray-300 rounded-lg p-3 pl-10 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-opacity duration-300"
							style="opacity: 0.4;" onmouseover="this.style.opacity=1;"
							onmouseout="this.style.opacity=0.8;" />
						<svg xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5 absolute left-3 top-1/2 transform -translate-y-9 text-gray-700" fill="none"
							viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1012 19.5a7.5-7.5 0 004.35-1.35z" />
						</svg>
						<button type="submit"
							class="w-full bg-red-600 text-white font-bold mt-2 py-2 px-4 rounded-lg hover:bg-red-700">
							Search Movie
						</button>
					</form>
					<!-- Shuffle Button -->
					<form action="{{ url_for('views.random_movie') }}" method="POST"
						class="ml-3 top-1/2 transform -translate-y-5">
						<button>
							<img src="{{ url_for('static', filename='images/shuffle.png') }}" class="h-8 w-8"
								alt="shuffle">
						</button>
					</form>
				</div>
			</div>





			{% if information %}
			<div class="card justify-center mx-auto mt-12">
				<div class="content">
					<p><strong>Title:</strong> {{ information[0] }}</p>
					<p><strong>Tagline:</strong> {{ information[3] }}</p>
					<p><strong>Genre:</strong> {{ information[11] }}</p>
					<p><strong>Cast:</strong> {{ information[12] }}</p>
					<p><strong>Director:</strong> {{ information[8] }}</p>
					<p><strong>Release Date:</strong> {{ information[1] }}</p>
					<p><strong>Runtime:</strong> {{ information[2] }} minutes</p>
					<p><strong>Overview:</strong> {{ information[4] }}</p>
					<p><strong>Budget:</strong> ${{ "%.2f" | format(information[5]/1000000) }}M</p>
					<p><strong>Revenue:</strong> ${{ "%.2f" | format(information[6]/1000000) }}M</p>
					<p><strong>Original Language:</strong> {{ information[7] }}</p>
					<p><strong>Production Companies:</strong> {{ information[9] }}</p>
					<p><strong>Rating: </strong>{{ information[10] }}⭐</p>
				</div>
			</div>
			{% endif %}



			{% endblock %}
	</div>
	</main>
	<!-- Page-Specific Scripts -->
	{% block scripts %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />{% endblock %}
</body>

</html>