{% extends "base.html" %} {% block title %} Visualizer {% endblock %} {% block styles %}
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/visualizer.css') }}"
/>{% endblock %} {% block content %}
<div class="container">
	<h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">
		🎬 Movie Data Visualizer
	</h2>

	<!-- Average Rating by Genre -->
	<section class="bg-gray-900 shadow-lg rounded-lg p-6 mb-6">
		<h3 class="text-xl font-semibold text-gray-700 mb-3">
			Average Rating by Genre
		</h3>

		<div class="w-full h-80 p-4">
			<canvas id="genreChart" width="400" height="200"></canvas>
		</div>

		<div id="movie-list" class="space-y-4 p-4  rounded-lg shadow-lg">
			<!-- Movie items will be inserted here dynamically -->
		</div>
		
		<div id="pagination-container" class="flex justify-center items-center space-x-4 mt-6">
			<!-- Pagination controls will be inserted here dynamically -->
		</div>
		

		
	</section>

	<!-- Search Actor -->
	<section class="bg-gray-900 shadow-lg rounded-lg p-6 mb-6">
		<h3 class="text-xl font-semibold text-gray-700 mb-3">Search Actor</h3>
		<form method="GET"
		action="{{ url_for('views.fetch_actor_stats') }}"
		>
			<div class="flex items-center gap-4">
				<div class="relative w-full">
					<input
						type="text"
						id="searchActor"
						name="actor"
						placeholder="Enter actor name..."
						class="text-black border border-gray-300 rounded-lg px-4 py-2 w-full focus:ring focus:ring-blue-300"
						style="opacity:0.7;" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0.7;"
						oninput="fetchActorSuggestions()"
					/>
					{% if actor_stats %}
						<p>{{actor_stats}}</p>
					{% endif %}
					<ul id="actorSuggestions" 
						class="absolute left-0 mt-1 w-full bg-gray-900 text-white border border-gray-700 rounded-md hidden z-10">
					</ul>
				</div>
				<button
					type="submit"
					class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition"
				>
					Search
				</button>
			</div>
		</form>
		<div class="w-full h-80 mt-4">
			<canvas id="actorChart"></canvas>
		</div>
	</section>

	<!-- Search Director -->
	<section class="bg-gray-900 shadow-lg rounded-lg p-6 mb-6">
		<h3 class="text-xl font-semibold text-gray-700 mb-3">Search Director</h3>
		<form method="GET"
		action="{{ url_for('views.fetch_director_stats') }}"
		>
			<div class="flex items-center gap-4">
				<div class="relative w-full">
					<input
						type="text"
						id="searchDirector"
						name="director"
						placeholder="Enter director name..."
						class="text-black border border-gray-300 rounded-lg px-4 py-2 w-full focus:ring focus:ring-blue-300"
						style="opacity:0.7;" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0.7;"
						oninput="fetchDirectorSuggestions()"
					/>

					{% if director_stats %}
						<p>{{director_stats}}</p>
					{% endif %}
					<ul id="directorSuggestions" 
						class="absolute left-0 mt-1 w-full bg-gray-900 text-white border border-gray-700 rounded-md hidden z-10">
					</ul>
				</div>
				<button
					type="submit"
					class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition"
				>
					Search
				</button>
			</div>
		</form>
		<div class="w-full h-80 mt-4">
			<canvas id="directorChart"></canvas>
		</div>
	</section>

	<!-- Compare Movies -->
	<section class="bg-gray-900 shadow-lg rounded-lg p-6 mb-6">
		<h3 class="text-xl font-semibold text-gray-700 mb-3">Compare Movies</h3>
		<form onsubmit="event.preventDefault(); compareMovies();" method="POST"
		action="{{ url_for('views.compare_movies') }}"
		>
			<div class="flex flex-col gap-4 relative">
				<!-- First movie input -->
				<div class="relative w-full">
					<input type="text" id="movie1" name="movie1" placeholder="Enter first movie..."
						class="text-black border border-gray-300 rounded-lg px-4 py-2 w-full focus:ring focus:ring-blue-300" 
						style="opacity:0.7;" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0.7;"
						oninput="fetchMovieSuggestions('movie1')"
					/>
					<ul id="movie1Suggestions" 
						class="absolute left-0 mt-1 w-full bg-gray-900 text-white border border-gray-700 rounded-md hidden z-10">
					</ul>
				</div>

				<!-- Second movie input -->
				<div class="relative w-full">
					<input type="text" id="movie2" name="movie2" placeholder="Enter second movie..."
						class="text-black border border-gray-300 rounded-lg px-4 py-2 w-full focus:ring focus:ring-blue-300" 
						style="opacity:0.7;" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0.7;"
						oninput="fetchMovieSuggestions('movie2')"
					/>
					<ul id="movie2Suggestions" 
						class="absolute left-0 mt-1 w-full bg-gray-900 text-white border border-gray-700 rounded-md hidden z-10">
					</ul>
				</div>

				<button type="submit" class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition">
					Compare
				</button>
			</div>
		</form>
		<div class="w-full h-80 mt-4">
			<canvas id="comparisonMovieChart"></canvas>
		</div>
	</section>

	
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/visualizer.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
